<h1>
  Books
  <%= link_to image_tag("feed-icon.png"), books_path(:atom) %>
</h1>

<%= render partial: 'search_form' %>

<h2>Latest books</h2>

<% if @books.size > 0 %>
  <dl><%= render @books %></dl>
<% end %>

<h2>Popular books</h2>

<% if @popular_books.size > 0 %>
	<dl><%= render @popular_books %></dl>
<% end %>

<%= link_to "New book", new_book_path, class: 'btn' %>
