<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container">
        <%= link_to "Library", root_path, class: 'brand' %>
      </div>
    </div>
  </div>
  <div class="container main">
    <% flash.each do |name,msg| %>
      <div class="alert-message <%= bootstrap_alert_class(name) %>">
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
